<!DOCTYPE html>
<html>
<head>
  <title>DbMoto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navbar" %>

<div class="container-fluid">
  <% flash.each do |key, msg| %>
    <%= content_tag(:div, msg, class: "flash alert alert-#{key}", :style => "margin-top:20px;") %>
  <% end %>

  <%= yield %>
</div>

<%= render "layouts/loading_modal" %>

</body>
</html>
